aiohttp
aiofiles
asyncio
ffmpeg-pyrogram
pillow
pyrogram
hachoir
lyricsgenius
py-tgcalls==0.8.5
wget
python-dotenv
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
requests
rich
dnspython
yt-dlp==2021.11.10.1
tgcrypto
gitpython
heroku3
skem
telegraph
python-telegram-bot==12.8
pytube
wheel
pyrogram==1.3.6
uvloop
hurry.filesize
